<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Task Manager</a>
    <div class="navbar-nav">
      <% if (typeof isLoggedIn !== 'undefined' && isLoggedIn) { %>
        <button class="btn btn-outline-light" id="logout">Logout</button>
      <% } %>
    </div>
  </div>
</nav>
